@use './styles/button.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html,
body,
#root {
    width: 100%;
    background-color: #111;
    color: #fff;
}

.highlight {
    color: #ff2088;
}